.row {
  display: flex;
  gap: 1rem;
  width: 100%;
  color: #fff;
}
.checkout {
  height: 100%;
  background-color: #4c5e7a;
  border-radius: 5px;
  margin: 3% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.checkout form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 10%;
  gap: 2rem;
}

input,
select {
  height: 35px;
  width: 100%;
  margin: auto;
}

#agreeTerms {
  width: fit-content;
  height: 20px;
}

.checkbox {
  gap: 0.5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.checkbox label {
  width: 100%;
}
.submission {
  justify-content: space-between;
}
button {
  width: 55%;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.error-message {
  font-size: 14px;
  color: rgb(250, 153, 153);
}

.flex-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
