.cart-total {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-items {
  overflow: scroll;
  margin-top: 2em;
}

::-webkit-scrollbar {
  display: none;
}
